:root {
  // Colors.
  --color-primary: #009fe3;
  --color-secondary: #094270;
  --color-white: #ffffff;
  --color-grey: #aaaaaa;
  --color-grey-light: #d9d9d9;
  --color-text: #000000;
  --color-text-light: #444;
  --color-black-transparent: rgba(0, 0, 0, 0.03);

  //   Fonts.
  --font-family: 'Open Sans', sans-serif;

  //   Other.
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
