@import '../../assets/styles/imports/abstract-imports';

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-white);

  &__content {
    width: 100%;
    max-width: $max-width;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;

    @include sm-lt {
      margin-top: $header-height-sm;
    }

    @include xs {
      margin-top: $header-height-xs;
    }
  }
}
