.user-section {
  width: 45rem;
  padding: 2rem;
  color: var(--color-snow);
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    &-container {
      --size: 18rem;
      width: var(--size);
      height: var(--size);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;
      background-color: var(--color-white);
      margin-bottom: 0.5rem;
      box-shadow: var(--box-shadow);

      &__image {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;

        &--charlie {
          cursor: pointer;
        }
      }
    }

    &__edit-button {
      padding: 0.5rem 1rem;
      color: inherit;
      background-color: transparent;
      font-size: 1.4rem;
      font-weight: 600;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: var(--color-primary);
        transition: 0.2s;
      }
    }
  }

  .trophy-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }
}
